body {
  background-color: white;
  margin: 0px;
  padding: 0px;
  display: grid;
  box-sizing: border-box;
  font-family: "Trirong", Verdana;
}

h1 {
    font-size: 2em;
    color: black;
    padding: 0.5em;
}

/* nav bar */
.nav-bar{
    /* margin-top: 20px; */
    /* grid-row: 1;
    grid-column: 1; */
    /* position: fixed; */
    width: 100%;
    overflow: hidden;
}
.nav-bar a.current {
    background-color: antiquewhite;
}
.list li{
    list-style-type: none;
    float:left;
}
.list a{
    text-decoration: none;
    padding:10px 35px;
    color:black;
    font-size: 20px; 
    letter-spacing: 1px;  
}
.list a:hover{
    background-color: gray;
}

/* index grid layout */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 800px 100px;
    gap: 1em;
}
.grid > * {
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.index-main {
    min-width: 15em;
    background-image: url("../images/head2.jpg");
    background-repeat: no-repeat;
    opacity: 80%;
    animation: fadeIn 3s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:0.8;}
  }
.content {
    text-align: center;
    margin: 100px;
}
aside {
    padding: 1em;
    /* background-color: lightblue; */
}

.footer-container {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* gallery grid layout */
.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto 100px;
    gap: 1em;
}

.gallery-grid > * {
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-header {
    grid-column-start: 1;
    grid-column-end: 3;
}
.gallery-content {
    grid-column-start: 1;
    grid-column-end: 3;
}

.gallery-footer {
    grid-column-start: 1;
    grid-column-end: 3;
}


/* gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    margin: 80px auto;
}

.gallery img {
    margin: 1em;
    border: 4px dashed orange;
    width: 30%;
    padding: 10px;
    opacity: 80%;
}
.gallery img:hover {
    box-shadow: 10px 10px 5px lightblue;
}



/* villagers */
.villagers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 50px;

}


/* Responsive layout */
@media (min-width: 700px) {
    .gallery {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .grid {
        grid-template-columns: 55% 45%;
    
    }
    

  }
  
  @media (prefers-reduced-motion) {
    /* styles to apply if the user's settings are set to reduced motion */
    .index-main {
      animation: none;
    }
  }



