body {
  background-color: white;
  box-sizing: border-box;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-align: center;
    color: black;
    padding: 0.5em;
}

nav {
    margin-bottom: 10px;
}
