body {
  background-color: white;
  margin: auto;
  padding: 30px;
  display: grid;
  box-sizing: border-box;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: black;
    padding: 0.5em;
}

img {
    margin: 1em;
    border: 4px dashed orange;
    width: 60%;
    padding: 10px;
}

img:hover {
    box-shadow: 10px 10px 5px lightblue;
}

/* nav */
li {
    display: inline;
}

nav {
    list-style-type: none;
    background-color: white;
    position:sticky;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
}

nav a {
    float: left;
    color: black;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.current {
    background-color: antiquewhite;
    color: black;
}

/* gallery */
.gallery {
    width: 100%;
    margin: 0 auto;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(20, auto); 
    column-gap: 10px;
    row-gap: 15px;
}










